.scroll {
        background-color: #FF971D;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        border-radius: 2px;
    }

.scroll:hover {
        background-color: #000;
        color: #fff;
    }
.account{
  background: #202022;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.sidenav {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
  margin-top: 25px;
  background: #202022;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #737373;
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

}

.sidenav a:hover {
  color: #FF971D;
  font-size: 17px;
}

.main {
  margin-left: 190px; /* Same as the width of the sidenav */
  margin-top: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  .auth1{
    background-color: #FF971D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #fff;

}

.auth1:hover {
    background-color: white;
    color: #FF971D;
    border: #f9fcf8 solid 1px;
}
table {
   width: 100%;
 }
 
 .mat-form-field {
   font-size: 14px;
   width: 100%;
 }
 
 td, th {
   width: 25%;
 }
 /* Table Price */
:host ::ng-deep .mat-sort-header-content {
   color: #fff;
   font-size: 18px;
}


:host ::ng-deep tr.mat-header-row {
   background-color: #f9b707 ;
   width: 100%;
}

:host ::ng-deep tr.mat-row {
   height: 55px;
}
:host ::ng-deep tr.mat-row :hover {
    transition: all 0.2s ease-in-out;
    color: #000;
    font-size: 15px ;
}
/* Dropdown Buttons */
.dropbtn {
  background-color: #FF971D;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: #fff;
  color: #FF971D;
}

.btn-graph{
    background-color: #00EC42;
    width: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #202022;
}

.btn-graph:hover {
    background-color: #fff;
    color: #FF971D;
    border: #05fc4b solid 1px;
}
