.dashBoard{
  height: 92vh;
}
.scroll {
        background-color: #FF971D;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        border-radius: 2px;
     

    }

.scroll:hover {
        background-color: #000;
        color: #fff;
    }
.account{
  background: #202022;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
/* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
  margin-top: 30px;
  background: #202022;
 box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  margin-top: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  .auth1{
    background-color: #FF971D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #fff;

}

.auth1:hover {
    background-color: white;
    color: #FF971D;
    border: #f9fcf8 solid 1px;
}