<div class="register">
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel card p-2">
                 <h1 class="text-center ">Login</h1>
            <hr>
            <div class="panel-body">
               <form [formGroup]="LoginForm" (ngSubmit)="login()">
                    <div class="form-group mb-2" [class.error]="LoginForm.controls['email'].dirty && LoginForm.hasError('required','email')">
                        <div class="input-field">
                            <input class="form-control" placeholder="Email"  formControlName="email" type="text" required="required">
                        </div>
                    </div>
                    <small  *ngIf="LoginForm.controls['email'].dirty && LoginForm.hasError('required','email')"  class="text-danger">Email is required</small>
                
                    <div class="form-group mt-3"  [class.error]="LoginForm.controls['password'].dirty && LoginForm.hasError('required','password')">
                        <input class="form-control" formControlName="password" placeholder="Enter password"  [type]="changepass?'password':'text'"  required>
                        <span class="eyeicon" (click)="viewpass()"><i  [ngClass]="visible?'fa-solid fa-eye':'fa-solid fa-eye-slash'"></i></span>
                    </div>
                    <small *ngIf="LoginForm.controls['password'].dirty && LoginForm.hasError('required','password')"  class="text-danger">Password is required</small>
                   <br>
                    <hr>
                    <div>
                        <input class="" type="checkbox" name="remember" id="remember">
                        <span class="p-1">Remember Me</span>
                        <p class="form-inline" style="float: right;"><a routerLink="/forget-password">Forget Password? </a></p>
                    </div>
                   <div>
                     <button type="submit" class="auth btn mt-4 w-100">Login</button>  
                   </div>
                    <div class="mt-1 text-center">
                        <p> <br><a routerLink="/signup" class="text-light">Don't have an account?</a></p>
                    </div>
                </form>
            </div>
          </div>  
        </div>
        <div class="col-md-3">
        </div>
    </div>
  </div>
</div>
<br>