
    .header {
        background-color: black;
        padding: 10px 0;
    }

    .content ul li {
        margin-right: 20px;
        display: inline-block;
    }

    .content ul li a {
        display: inline-block;
        color: rgb(244, 245, 244);
    }

    .content ul li i {
        color: #f9b707;
        margin-right: 10px;
    }

    .content .right_info {
        text-align: right;
    }
