.collapse li {
    padding: 5px;
    transition: all 0.2s ease-in-out;
 }
.collapse li :hover {
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    color: #5BC43B;
 }
 .coinBar{
    height: 79px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-top: 5px;
 }
.card {
    border: 0;
    background: transparent;
    color: rgb(0, 0, 0);
    width: 70px;
    height: 80px;
}  
.card img {
    width: 38px;
    margin: 0 auto;
}
.card h5 {
    font-weight: 500;
    }
.card .h6 {
     font-weight: 600;
     line-height: 1px;
    }

.header {
        background-color: black;
        padding: 10px 0;
    }

.content ul li {
        margin-right: 20px;
        display: inline-block;
    }

.content ul li a {
        display: inline-block;
        color: rgb(244, 245, 244);
    }

.content ul li i {
        color: #5BC43B;
        margin-right: 10px;
        font-size: 17px;
    }

.content .right_info {
        text-align: right;
    }
