<div class="register">
    <div class="container mt-2">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="card p-2">
            <div class="text-center">
               <h2>Forget Password</h2>
               <h6>Enter Your Email</h6>
            </div>
            <form  [formGroup]="forgetPassForm" class="mt-5">
              <div class="form-group mb-2"[class.error]="forgetPassForm.controls['email'].dirty && forgetPassForm.hasError('required','email')">
                <input class="form-control" placeholder="Email adrress" type="email" formControlName="email"  required>      
              </div>  
              <small *ngIf="forgetPassForm.controls['email'].dirty && forgetPassForm.hasError('required','email')"  class="text-danger">Email is required</small>
              <button type="submit" (click)="forgetPass()" class="auth btn mt-2 text-center w-100">RESET</button>
            </form>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
    <br>