<hr style="margin-top:-1px;">
<div class="register" style="border-bottom: 1px solid black;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="card p-2">
            <div class="text-center">
              <h2>RESET PASSWORD </h2>
              <h6>Enter your Email address and we will send you an <br>
                 with a link to reset Your password.
              </h6>
          </div>
            <form  [formGroup]="forgetPassForm" class="mt-5">
              <div 
                class="form-group mb-2"
                [class.error]="forgetPassForm.controls['email'].dirty && 
                forgetPassForm.hasError('required','email')"> 
                <label for="email">Email</label>
                <br>
                <input class="form-control" type="email" formControlName="email"  required>      
              </div>  
              <small *ngIf="forgetPassForm.controls['email'].dirty &&
               forgetPassForm.hasError('required','email')"  
               class="text-danger">
               Email is required
              </small>
              <div>
                <button type="submit" (click)="forgetPass()" 
                class="auth btn mt-4 bt-lg">RESET</button>  
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
 