/* Banner section */

.banner{
    background-image: url('../../assets/10.jpg');
    height: 450px;
    width: 100%;
    background-size: cover;
    margin-top: -14px;
}

.header{
   height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.header h2{
   color: #fff;
   font-size: 50px;
   font-weight: bold;
   margin-top: 7%;
}
.header h6{
   margin-top: 3%;
   color: rgb(254, 253, 255);
   font-size: 20px;
   font-weight: 400;
   text-transform: capitalize;
   letter-spacing: 0.00714em;
}

/* Promo section */

.krypto {
   background-image: url(../../assets/slider-4.jpg);
   background-repeat: no-repeat;
   padding-bottom: 10px;
   padding-top:15px;
   background-position: center center;
   -webkit-background-size: cover;
   background-size: cover;
   color: #fff;
}
.promo_padding {
   padding-bottom: 150px;
}
table {
   width: 100%;
 }
 
 .mat-form-field {
   font-size: 14px;
   width: 100%;
 }
 
 td, th {
   width: 25%;
 }
.promo_content {
   background-color: #fafafa;
   border: 2px dashed #ddd;
   padding: 30px;
   transition: all 0.2s ease-in-out;
}

.promo_content:hover {
   box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.15);
   transition: all 0.2s ease-in-out;
}

.promo_content img {
   margin-bottom: 15px;
}

.promo_content h3 {
   margin-bottom: 5px;
}
/* Testimonial section */
.testimonial_section {
   background-image: url(../../assets/testimonial-background.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   background-size: cover;
}

.testimonial_section .section_heading h2 {
   color: #fff;
   text-align: center;
   padding-top: 5%;
}


.testimonial_item {
   text-align: center;
}

.testimonial_item i {
   color: #f9b707;
   font-size: 40px;
   margin-bottom: 10px;
}

.testimonial_item figure {
   width: 90px;
   height: 90px;
   padding: 5px;
   margin: 0 auto 15px;
   position: relative;
}

.testimonial_item figure img {
   border-radius: 50px;
   width: 100%;
}

.testimonial_item h4 {
   color: #ddd;
   font-weight: 800;
 
}

.testimonial_item p {
   color: #fff;
   font-size: 16px;
   font-style: italic;
}
/* Table Price */
:host ::ng-deep .mat-sort-header-content {
   color: #fff;
   font-size: 18px;
}

/* :host ::ng-deep .mat-paginator-outer-container {
   background-color: f9b707 ;
} */

:host ::ng-deep tr.mat-header-row {
   background-color: #f9b707 ;
}

:host ::ng-deep tr.mat-row {
   height: 60px;
}
:host ::ng-deep tr.mat-row :hover {
    transition: all 0.2s ease-in-out;
    color: #000;
    font-size: 15px ;
}