<hr>
<div class="container p-1">
    <marquee behavior="scroll" loop="infinite"  direction="left" onmouseenter="stop()" onmouseout="start()">
        <div class="row">
          <p>slide</p>
        </div>
    </marquee>
</div>

<div class="banner">
    <div class="container">
        <div class="header">
            <h2 class="">Pay with your <br> Krypto Cash</h2>
            <h6>Lorem ipsum dolor sit amet consecteteaque laudantium <br> quas, ommodi veniam tenetur reiciendis. Eveniet?</h6>
        </div>
    </div>
</div>

<section class="promo_section promo_padding bd-bottom padding mt-5">
    <div class="container">
        <div class="text-center">
            <h2 class="fw-bold">EASY WAY <span style="color:#f9b707;">TO START</span> WITH US</h2>
            <img src="../../assets/sb.png"  class="image-fluid"   alt="img">
            
        </div>
        <div class="row promo_wrapper text-center mt-5">
            <div class="col-md-3 col-sm-6 sm-padding">
                <div class="promo_content align-center">
                    <img src="../../assets/1.png" alt="icon">
                    <h4  class="fs-5 fw-bold">EASY ACCESS</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 sm-padding">
                <div class="promo_content align-center">
                    <img src="../../assets/2.png" alt="icon">
                    <h4 class="fs-5 fw-bold">RECHARGE WALLET</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 sm-padding">
                <div class="promo_content align-center">
                    <img src="../../assets/3.png" alt="icon">
                    <h4  class="fs-5 fw-bold">MAKE PAYMENTS</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 sm-padding">
                <div class="promo_content align-center">
                    <img src="../../assets/promo-2.png" alt="icon">
                    <h4  class="fs-5 fw-bold">SAFE AND SECURE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>




<div class="container mt-5">
    <div class="KryptoPrices">
    <h4>Table linked to Price Detail & Graph</h4>
    </div>
</div>


<section class="testimonial_section">
    <div class="container">
        <div class="section_heading text-center">
            <h2 class="fw-bold">What Our <span style="color: #f9b707;">Clients</span> Say</h2>
            <img src="../../assets/s.png" class="img-fluid" alt="banner">
        </div>
        <hr>
        <ul  class="testimonial_items mt-5">
            <li class="testimonial_item">  
                <h4>Jay safu</h4>
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>Business Ipsum has been the industry's standard dummy text ever.</p>
                <figure>
                    <img src="../../assets/blog-1.jpg" alt="Client">
                </figure>
            </li>
            <li class="testimonial_item ">  
                <h4>The International Bouy</h4>
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>Business Ipsum has been the industry's standard dummy text ever.</p>
                <figure>
                    <img src="../../assets/blog-1.jpg" alt="Client">
                </figure>
              
            </li>
        </ul>
    </div>
</section>
<!--testimonial_section -->

<div class="container mt-5">
    <div class="CryptoBlog">
    <h5>CryptoCurrency Blog Update.</h5>
    </div>
</div>
