/* You can add global styles to this file, and also import other style files */
.eyeicon{
    position: absolute;
    margin-top: -28px;
    margin-left: 92%;
    cursor: pointer;
    font-size: 12px;
   
}
.eyeicon:hover{
    color: #5BC43B;
    font-size: 15px;
}
.auth{
    background-color: #5BC43B;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins';
}

.auth:hover {
    background-color: white;
    color: #5BC43B;
    border: #5BC43B solid 1px;
}
.register{
    background-color:#000000 ;
}
.register .card {
    background-color:#000000 ;
    color: #fff;
    margin-top: 25px;
   
}
.register .card form input {
    background-color:#000000 ;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    
}
.button_1 {
    background-color: #5BC43B;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.button_1:hover {
    background-color: black;
    color: #fff;
}

    /* Transition Effect */

    a,
    a:hover,
    .overlay,
    img,
    .form-control,
    .form-control:hover,
    button {
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .scroll-top {
        background-color: #5BC43B;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 30px;
        margin-right: 1%;
        color: #fff;
        border-radius: 2px;
        z-index: 999;
        float: right;
    }

    .scroll-top:hover {
        background-color: #f9b707;
        color: #fff;
    }

.about {
    background-image: url('./assets/aboutpg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 300px;
    position: relative;
    z-index: 1;
}

.breadcrumb {
    font-size: 25px;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 23px);
    margin: 0;
   
}


.breadcrumb li a {
    font-weight: 700;
    text-transform: uppercase;
    color: #ddd;
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
    color: #5BC43B;
}

.breadcrumb .active {
    color: #f9b707;
    text-transform: uppercase;
    font-weight: 700;
}
