<div class="register">
    <div class="container mt-2">
        <div class="row">
         <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="card p-2">
                <div class="text-center">
                    <h2>What's your Phone number?</h2>
                    <h6>We'll send you a verification code it will <br> Expire after 5 minutes </h6>
                 </div>
                <form  [formGroup]="MobileForm" class="mt-3">
                        <div class="form-group mb-2" [class.error]="MobileForm.controls['contact'].dirty && MobileForm.hasError('required','contact')">
                            <input  class="form-control" type="number" placeholder="Phone Number"  formControlName="contact" required>
                        </div> 
                        <small *ngIf="MobileForm.controls['contact'].dirty && MobileForm.hasError('required','contact')"  class="text-danger">Mobile Number Required </small>
                        <button type="submit" (click)="addContact()" class="auth btn btn-lg btn-success mt-4 text-center w-100">SUBMIT</button>
                </form>
            </div>
          </div>
          <div class="col-md-3">
        </div>
        </div>
    </div>
</div>
<br>    